.task {
  margin-left: 30px;
}

.issue-field {
  display: inline-block;
  flex: 1;
}

.sprint-field {
  display: inline-block;
  width: 100px;
}

.row {
  display: flex;
}

.progressBar {
  /* Colors */
  background-color: #d1d5db;
  display: flex;

  /* Rounded border */
  border-radius: 9999px;
  padding: 0.25rem;
}

.progress-bar__notStarted {
  /* Center the content */
  align-items: center;
  display: flex;
  justify-content: center;

  /* Colors */
  background-color: #3b82f6;
  color: #fff;

  /* Rounded border */
  border-radius: 9999px 0 0 9999px;
  min-width: 1%;
}

.progress-bar__done {
  /* Center the content */
  align-items: center;
  display: flex;
  justify-content: center;

  /* Colors */
  background-color: green;
  color: #fff;

  /* Rounded border */
  border-radius: 0 9999px 9999px 0;
  min-width: 1%;
}

.progress-bar__inProgress {
  /* Center the content */
  align-items: center;
  display: flex;
  justify-content: center;

  /* Colors */
  background-color: darkseagreen;
  color: #fff;
  min-width: 1%;
}
